<!DOCTYPE html>
<!-- 		  Fonix Design!-->
<!--   https://fonix.online -->
<!-- Neobyte Network Ownership! -->
<html lang="en">
<head>
	<title>Digital Hazards Store</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=520, target-densitydpi=high-dpi" />
    <meta http-equiv="Content-Type" content="application/vnd.wap.xhtml+xml; charset=utf-8" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
	<link href="https://pastebin.com/raw/f9aysepm" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:700" rel="stylesheet">
    <link href="https://digitalhazards.net/assets/favicon/favicon.ico?29452" rel="icon">
	{% if store.theme %}
	<link href="/theme/style?cache={{ store.theme }}" rel="stylesheet">
	{% endif %}
</head>

<body>
	<header class="page-head">
		<div class="page-head__bar">
			<div class="container">
				<div id="menu-button" class="menu-button">
					<span></span>
				</div>
				<nav id="main-nav" class="main-nav">
					<ul class="main-nav__list">
						<li class="{% if page.category == "index" %}current{% endif %}"><a href="/">{{ lang("category.home") }}</a></li>
						{% for category in store.categories %} {% if category.subcategories|length > 0 %}
						<li class="{% if category.active %}current{% endif %}">
							<a href="#">{{ category.name }} <i class="fa fa-caret-down"></i></a>
							<ul>
								{% for subcategory in category.subcategories %}
								<li><a href="/category/{{ subcategory.id }}">{{ subcategory.name }}</a></li>
								{% endfor %}
							</ul>
						</li>
						{% else %}
						<li class="{% if category.active %}current{% endif %}"><a href="/category/{{ category.id }}">{{ category.name }}</a></li>
						{% endif %} {% endfor %}
					</ul>
				</nav>
				<!-- /main-nav -->
				<div class="checkout">
					<div class="dropdown">
						<a href="#" class="button button--small button--secondary dropdown__toggle">
							{{ basket.currency }} <i class="fa fa-caret-down"></i>
						</a>
						<ul class="dropdown__menu dropdown--list h6">
							{% for currency in store.currencies %} {% if currency.code in [store.currency, "AUD", "BRL", "CAD", "DKK", "EUR", "NOK", "NZD", "GBP", "SEK", "USD", "PLN"] %}
							<li {% if basket.currency == currency.code %}class="current" {% endif %}>
								<a href="?currency={{ currency.code }}">{{ currency.code }}</a>
							</li>
							{% endif %} {% endfor %}
						</ul>
					</div>
					{% if basket.packages|length > 0 %}
					<div class="dropdown">
						<a href="#" class="button button--small dropdown__toggle">
							<i class="fa fa-shopping-cart"></i> {{ lang("basket.count", basket.packages|length, basket.price|money, basket.currency) }} <i class="fa fa-caret-down"></i></a>
							<div class="dropdown__menu dropdown--right cart">
								<ul class="list">
									{% for package in basket.packages %}
									<li>
										<div class="grid grid--middle">
											<div class="grid__item one-half text-left">
												<strong>{{ package.name[:25] }}</strong>
											</div>
											<div class="grid__item one-half text-right">
												<span class="price price--cart">{{ package.price|money }} {{ basket.currency }}</span>
												<a href="/checkout/packages/remove/{{ package.id }}" class="button button--small button--decline"><i class="fa fa-times"></i></a>
											</div>
										</div>
									</li>
									{% endfor %}
								</ul>
								<div class="grid grid--middle grid--full">
									<div class="grid__item one-half text-left">
										{{ lang("basket.total") }}: {{ basket.price|money }} {{ basket.currency }}
									</div>
									<div class="grid__item one-half text-right">
										<a href="/checkout/basket" class="button button--small button--accept">
											<i class="fa fa-shopping-cart"></i> {{ lang("button.checkout") }} </a>
										</div>
									</div>
								</div>
							</div>
							{% else %} <a href="#" class="button button--small button--disabled">
							<i class="fa fa-shopping-cart"></i> {{ lang("basket.count", 0, 0.00, basket.currency) }} </a>
							{% endif %} {% if basket.username %} <a href="/checkout/logout" class="logout" title="{{ lang("button.logout") }}">
							<i class="fa fa-power-off"></i>
						</a>
						{% endif %}
					</div>
				</div>
			</div>
						<img class="logo" alt="{{ site.name }}" src="https://secure.ume.digitalhazards.net/p-logo/SSL-Logo.png?822565">

		</header>
		      <div id="notification-bar"></div>

		<div class="container">
			<div id="notifications">
				<div class="flag note">
					<div class="flag__image note__icon">
						<i class="fa fa-info"></i>
					</div>
					<div class="flag__body note__text">
					</div>
					<a href="#" class="note__close">
						<i class="fa fa-times"></i>
					</a>
				</div>
			</div>

			{% block content %} {% endblock %}

			{% if store.plan == "1" %}
			<p align="center">
				<script>
					google_ad_client = "ca-pub-9830135219921132";
					google_ad_slot = "7404819681";
					google_ad_width = 728;
					google_ad_height = 90;
				</script>
				<script src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
			</p>
			{% endif %}
		</div>

		<footer class="page-footer group h6">
				<div class="grid grid--middle">
					<div class="grid__item desk--one-third">
						<div class="dropdown button-group__small">
							<a href="#" class="button button--small dropdown__toggle no-margin"><i class="fa fa-globe"></i> Language <i class="fa fa-caret-up"></i></a>
							<ul class="dropdown__menu dropdown--top dropdown--list h6">
								{% for language in store.languages %}
								<li><a href="?lang={{ language.code }}">{{ language.name }}</a></li>
								{% endfor %}
							</ul>
						</div>
					</div>
					<div class="grid__item desk--one-third">
						Webstore Design:  <a href="https://fonix.online">_Fonix</a>
					</div>
					<div class="grid__item desk--one-third">
						{% if store.branding or store.plan != "3" %}
						<!-- *** Do not hide/obscure the following "Powered by" message (Unless you have the Ultimate Plan). Your account will be deleted! -->
						Linked to <a href="https://digitalhazards.net" target="_blank">Digital Hazards</a>
						<p><a href="http://www.dmca.com/Protection/Status.aspx?ID=272c4fe8-30ee-4799-96c3-821ae0c7bb31" title="DMCA.com Protection Status" class="dmca-badge"> <img src="https://digitalhazards.net/assets/mrep/dmca-banner-protected.png" alt="DMCA.com Protection Status"></a> <script src="//images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script></p>
						{% endif %}
					</div>
				</div>
			</div>
		</footer>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="http://craftilldawn.com/buycraft/magnific-popup.min.js"></script>
		<script src="http://craftilldawn.com/buycraft/functions.min.js"></script>
		<script src="/assets/js/skin.js"></script>

		{% if page.category == "checkout" %}
		<script src="https://wallet.google.com/inapp/lib/buy.js"></script>
		<script src="https://checkout.stripe.com/v2/checkout.js"></script>
		{% endif %}

		<script>
			$(document).ready(function() {
				$('.popup--ajax').magnificPopup({type:'ajax'});
			});
		</script>

		{% if store.googleAnalytics %}
		<script>
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', "{{ store.googleAnalytics }}"]);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
		{% endif %}

		{% if page.message.display %}
		<script>
			showNotification("{{ page.message.type }}", "{{ page.message.text }}");
		</script>
		{% endif %}

	</body>
	</html>
